.reservas {
    background-color: rgb(2, 208, 146);
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.icono {
    width: 80%;
}

.btn-whatsapp {
    display: block;
    width: 70px;
    height: 70px;
    color: white;
    position: fixed;
    right: 50px;
    bottom: 110px;
    border-radius: 50%;
    line-height: 80px;
    text-align: center;
    z-index: 999;
}